
.indiv_song {
  width: 20vw;
  height: 16vw;
  font-size: 2vw;
  display: block;
  margin: 2vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-color: rgba(255, 42, 0, .8);

}

#song_list li {
  clear: both;
  margin-bottom: 2vw;
}

#play_pause_image {
  width: 100%;
  height: 100%;  
  padding: 0;
}

#random_image {
  width: 72%;
  height: 72%;  
  padding: 0;
}

#stop_image, #next_image {
  width: 50%;
  height: 50%; 
}

.buttons {
  width: 5vw;
  height: 5vw;  
  padding: 0;
  background-color: #5e0;
  border-color: rgba(255, 42, 0, .8);
}

#song_list {
  clear: both;
}

#left_list {
  float: left;
}

#right_list {
  float: right;
}

.song_info {
  background-color: #5e0;
  color: rgba(255, 0, 50, 1);
}

#now_playing_container{
  float: left;
  width: 21%;
  background-color: #5e0;
  padding: 0 0 0 2vw;
  color: rgba(255, 0, 50, 1);
}

#now_playing_title{
  font-size: 2.5vw;
  margin: 0 auto; 
  text-decoration: underline;
}

.title{
  text-align: right;
  margin-right: 2vw;
}

.handlee_font {
  font-family: 'Handlee', cursive;
}

.roboto_font {
  font-family: 'Roboto', sans-serif;
}

#controls{
  /*margin: 4vw 6vw 0 0;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%; 
  /*float: right;*/
}

.buttons_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

body {
  /*background-image: url(../images/jukebox.jpg);*/
  /*background-size: cover;*/
  background-image: url(../images/jukebox_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFB300;
}

#heading_container{
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 0 0 2vw;
}

/*h1{
  margin: 0 auto;
  text-align: center;
  width: 33%;
  background-color: #e00
}*/

.progressBar {
  position: relative;
  width: 90%;
  height: 2vw;
  background-color: #FF2A00;
  border: 1px solid black;
}

.timeBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #5e0;
}

.progressTime {
  /*background-color: #5e0;*/
  color: rgba(255, 0, 50, 1);
  font-size: 3vw;
}
