
.indiv_song {
  width: 20vw;
  height: 16vw;
  font-size: 2vw;
  display: block;
  margin: 2vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-color: rgba(255, 42, 0, .8);

}

#song_list li {
  clear: both;
  margin-bottom: 2vw;
}

#play_pause_image {
  width: 100%;
  height: 100%;  
  padding: 0;
}

#random_image {
  width: 72%;
  height: 72%;  
  padding: 0;
}

#stop_image, #next_image {
  width: 50%;
  height: 50%; 
}

.buttons {
  width: 5vw;
  height: 5vw;  
  padding: 0;
  background-color: #5e0;
  border-color: rgba(255, 42, 0, .8);
}

.button_image {
    width: 5vw;
    height: 5vw;
}

#prev_image {
    width: 2.5vw;
    height: 2.5vw;
}

#song_list {
  clear: both;
}

#left_list {
  float: left;
}

#right_list {
  float: right;
}

.song_info {
  background-color: #5e0;
  color: rgba(255, 0, 50, 1);
}

#now_playing_container{
  /*float: left;*/
  width: 21%;
  background-color: #5e0;
  padding: 0 0 0 2vw;
  color: rgba(255, 0, 50, 1);
}

#now_playing_title{
  font-size: 2.5vw;
  margin: 0 auto; 
  text-decoration: underline;
}

.now_playing_info{
  text-align: right;
  margin-right: 2vw;
}

.handlee_font {
  font-family: 'Handlee', cursive;
}

.roboto_font {
  font-family: 'Roboto', sans-serif;
}

#controls{
  /*margin: 4vw 6vw 0 0;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%; 
  /*float: right;*/
}

.buttons_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

body {
  /*background-image: url(../images/jukebox.jpg);*/
  /*background-size: cover;*/
  background-image: url(../images/jukebox_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFB300;
}

#heading_container{
  display: flex;
  justify-content: space-between;
  /*padding: 1.5vw 0 0 0;*/
}

/*h1{
  margin: 0 auto;
  text-align: center;
  width: 33%;
  background-color: #e00
}*/

.progressBar {
  position: relative;
  width: 90%;
  height: 2vw;
  background-color: #FF2A00;
  border: 1px solid black;
}

.timeBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #5e0;
}

.progressTime {
  /*background-color: #5e0;*/
  color: rgba(255, 0, 50, 1);
  font-size: 3vw;
}


@media all and (max-width: 760px) {

  #right_list {
    float: left;
  }

  #right_list, #left_list {
    width: 50%;
    margin: 0
  }

  #heading_container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .indiv_song {
    width: 50vw;
    height: 40vw;
    margin: 0;
    padding: 0;
    font-size: 4vw;
  }

  #now_playing_container {
    /*margin: 2vw 0 0 3vw;*/
    padding: 2vw 0;
    margin: 4vw auto 2vw;
    width: 90%;
    border: 1vw solid rgba(255, 42, 0, .8);
  }

  #controls {
    width: 100%;
    /*padding: 0;*/
  }

  .buttons{
    width: 15vw;
    height: 15vw;  
    margin: 0;
    padding: 0;
  }

  body {
    background-size: 100% 70%;
    background-position: top;
  }

  .now_playing_info {
    text-align: center;
    margin: 0;
  }
  
  #now_playing_title {
    text-align: center;
    font-size: 4vw;
  }

  .progressBar {
    width: 90%;
    height: 4vw;
    margin: 2vw 0;
  }

  .progressTime {
    background-color: #5e0;
    color: rgba(255, 0, 50, 1);
    font-size: 4vw;
    margin: 0 0 2vw 0;
  }

  .buttons_container{
    width: 90%;
  }

  .now_playing_display {
    padding: 0 0 0 2vw;
  }

  #prev_image {
    width: 6vw;
    height: 6vw;
  }

}